In [2]:
def square(x):
    '''与えられた数値の２乗を返す'''
    return x ** 2

print(square(10))

100

In [3]:
#与えられた数値の２乗を返す
sq_func = lambda x: x ** 2

print(sq_func(10))

100

In [4]:
i_num_list = range(1,11)
s_num_list = list(map(lambda i : "NO." + str(i), i_num_list))
print("文字列リスト:",s_num_list)

文字列リスト: ['NO.1', 'NO.2', 'NO.3', 'NO.4', 'NO.5', 'NO.6', 'NO.7', 'NO.8', 'NO.9', 'NO.10']

In [5]:
#数値を文字に変換して修飾します
for s in map(lambda i : "NO." + str(i), range(1,11)):
    print(s, end=' ')

NO.1 NO.2 NO.3 NO.4 NO.5 NO.6 NO.7 NO.8 NO.9 NO.10

In [6]:
#偶数だけ取得します
for e in filter(lambda i: i%2==0, range(1,11)):
    print(e,end=" ")

2 4 6 8 10

In [7]:
def is_even(x):
    '''偶数なら True'''
    return x % 2 == 0

#偶数だけ取得します
for e in filter(is_even, range(1,11)):
    print(e, end=" ")

2 4 6 8 10

In [8]:
pairs = [(2, 'down'),(1, 'UP'),(4, 'charm'), (3, 'strange'), (6, 'top'),(5, 'bottom')]
print(pairs)

[(2, 'down'), (1, 'UP'), (4, 'charm'), (3, 'strange'), (6, 'top'), (5, 'bottom')]

In [9]:
pairs.sort()
print(pairs)

[(1, 'UP'), (2, 'down'), (3, 'strange'), (4, 'charm'), (5, 'bottom'), (6, 'top')]

In [13]:
pairs.sort(key=lambda x: x[1])
print(pairs)

[(1, 'UP'), (5, 'bottom'), (4, 'charm'), (2, 'down'), (3, 'strange'), (6, 'top')]

In [14]:
pairs.sort(key=lambda x: x[1], reverse=True)
print(pairs)

[(6, 'top'), (3, 'strange'), (2, 'down'), (4, 'charm'), (5, 'bottom'), (1, 'UP')]

In [15]:
n=3
func = lambda n: "even" if (n % 2 == 0) else "add"
func(n)

'add'

In [16]:
n = 3
if (n % 2 == 0):
    x = "even"
else:
    x = "add"
print(x)

add

In [6]:
str_num_list = map(lambda x: "{:04}".format(x), range(1,8))
str_num_list

In [7]:
print(list(str_num_list))

['0001', '0002', '0003', '0004', '0005', '0006', '0007']

In [8]:
print(["{:0=4}".format(x) for x in range(1,8)])

['0001', '0002', '0003', '0004', '0005', '0006', '0007']

In [9]:
print(("{:0=4}".format(x) for x in range(1,8)))

<generator object <genexpr> at 0x06BC0A00>

In [10]:
print(list("{:0=4}".format(x) for x in range(1,8)))

['0001', '0002', '0003', '0004', '0005', '0006', '0007']

In [17]:
import random
def generate_student_data(num_students=10):
    student_data = []
    for i in range(num_students):
        name = 'n' + str(random.randint(10,50))
        heigh = random.randint(150,190)
        weight = random.randint(50,80)
        student_data.append((name, heigh, weight))
        if i == 0: print('i, name, height, weight')
        if i < 2 or i == num_students -1:
            print(i, name, heigh, weight)
        elif i == 2:
            print('...')
    return student_data
student_data = generate_student_data(10)

i, name, height, weight
0 n38 169 72
1 n16 166 74
...
9 n25 181 63

In [18]:
student_data

[('n38', 169, 72),
 ('n16', 166, 74),
 ('n29', 158, 79),
 ('n30', 186, 73),
 ('n25', 186, 75),
 ('n17', 170, 56),
 ('n40', 172, 57),
 ('n44', 185, 58),
 ('n11', 166, 57),
 ('n25', 181, 63)]

In [22]:
students_by_height = sorted(student_data, key=lambda s: s[1])
students_by_weight = sorted(student_data, key=lambda s: s[2])

In [23]:
print('\nSort by height')
for student in students_by_height:
    print(student)

Sort by height
('n29', 158, 79)
('n16', 166, 74)
('n11', 166, 57)
('n38', 169, 72)
('n17', 170, 56)
('n40', 172, 57)
('n25', 181, 63)
('n44', 185, 58)
('n30', 186, 73)
('n25', 186, 75)

In [24]:
print('\nSort by weight')
for student in students_by_weight:
    print(student)

Sort by weight
('n17', 170, 56)
('n40', 172, 57)
('n11', 166, 57)
('n44', 185, 58)
('n25', 181, 63)
('n38', 169, 72)
('n30', 186, 73)
('n16', 166, 74)
('n25', 186, 75)
('n29', 158, 79)